*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sort{
    display: flex;
    justify-content: space-between;
}
.sort input{
    display: block;
    padding: 10px;
    border: 2px solid black;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
}

.block{
    font-size: 16px;
    width: 50%;
    margin:  0 auto;
    text-align: justify;
}
#sortIncrease,
#sortDecrease,
#priceIncrease,
#priceDecrease{
    display: none;
}
.block p {
    border-bottom: 1px solid #000;
    display: block;
    text-align: justify;
    padding: 10px;
}
#source p:first-of-type{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}